.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  width: 180px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
